@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  margin: 0;
  padding: 0;
}

html {
  
}
 
/* Elements */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #F5F5F5;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  
}

footer {
  text-align: center;
}

/* -------- */


/* Header */
.header-container {
  color: white;
  text-align: center;
  padding: 20px 0px;
  margin: 1vh 10vw;
  border-radius: 5%;
  min-width: 40vw;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1547499417-0b7889e0f147?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTQxMjU1MDk&ixlib=rb-1.2.1&q=80');
  background-position: center;
  background-size: center;
  min-height: 50vh;
}

.name-box {

}

.desc-box {

}
/* -------- */

/* -- Main --*/
.badge {
  background-color: #D1C4E9
}

.project-container {
  padding: 5vh 0vh;
  min-height: 40vh;
  max-height: 50vh;
}

.skills-container {
  min-height: 40vh;
  max-height: 50vh;
  padding: 5vh 0vh;
}

.links-container {
  min-height: 40vh;
  max-height; 50vh;
  padding: 5vh 0vh;
}

/* Start Footer */
footer {
  border-top: 3px solid black;
}

