@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  background-color: #F5F9FF;
}

h1 {
  text-align: center;
  padding: 20px 0px;
  margin: 10px 10px;
  background-image: url('https://images.unsplash.com/photo-1513735539099-cf6e5d559d82?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTM4NTc5MDU&ixlib=rb-1.2.1&q=80');
  border-radius: 2%;
  background-size: cover;
  height: 40vh;
}
h2 {
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 20px;
}
h3 {
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 20px;
  font-style: italic;
}
#img1 {
  position: relative;
  margin: 10px 10px;
  height: 20vh;
  width: 25vw;
  max-width: 40%;
  border-radius: 5%;
}
#img2 {
  position: relative;
  left: 10vw;
  margin: 10px 10px;
  height: 20vh;
  width: 25vw;
  border-radius: 5%;
}
#img3 {
  position: absolute;
  left: 73vw;
  margin: 10px 10px;
  height: 20vh;
  width: 25vw;
  border-radius: 5%;
}
footer {
  text-align: center;
}
.bio {
  border-radius: 10%;
  border: 1px solid black;
  margin: 30px 100px;
  padding: 10px;
  position: relative;
  word-spacing: 10;
  text-align: center;
}
.about {
  border-radius: 100px;
  line-height: normal;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  width: 50%;
  position: relative;
  left: 23.5%;
}
.about-primary {
  background-color: #DB9A11;
  color: #FFFFFF;
}
#contact, #contact-p {
  position: relative;
  top: 40vh;
}

