@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  margin: 0;
  padding: 0;
}

html {
 
}
 
/* Elements */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #F5F5F5;
}

footer {
  text-align: center;
}

/* -------- */


/* -- Main --*/

.project-container {
  min-height: 30vh;
}

.skills-container {
  min-height: 30vh;
}

.links-container {
  min-height: 20vh;
}

/* Start Footer */
