@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  margin: 0;
  padding: 0;
}

html {
 
}
 
/* Elements */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #F5F5F5;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  
}

header {
  color: white;
}

footer {
  text-align: center;
}

/* -------- */


/* -- Main --*/
.badge {
  background-color: #D1C4E9
}

.project-container {
  min-height: 40vh;
  max-height: 50vh;
}

.skills-container {
  min-height: 40vh;
}

.links-container {
  min-height: 40vh;
  max-height: 50vh;
  padding: 5vh 0vh;
}

/* Start Footer */
footer {
  border-top: 3px solid black;
}